<%- include('../partials/header') %>

<h2>Runs</h2>

<a href="/runs/new">Add a Run</a>

<ul>
    <ul>
        <% runs.forEach(function(run) { %>
            <li>
                <form action="/runs/<%= run.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete-button">X</button>
                </form>
                <a href="/runs/<%= run._id %>">
                    <%= run.title %>
                </a>
            </li>
        <% }); %>
    </ul>

<%- include('../partials/footer') %>
