<%- include('../partials/header') %>

<h2>Runs</h2>

<a href="/runs/new">Add a Run</a>

<ul>
    <% runs.forEach(function(run) { %>
        <li>
            <!-- <form action="/runs/<%= run.id %>? method="POST">
                <button type="submit">X</button>
            </form> -->
            <a href="/runs/<%= run._id %>">
                <%= run.title %>
            </a>
        </li>
        <% }); %>
</ul>

<%- include('../partials/footer') %>