<%- include('../partials/header') %>

<h3>
    <%= Run.title %>
</h3>

<section id="show-page">
    <div>Run Title:</div>
    <div><%= Run.title %></div>
    <div>Distance:</div>
    <div><%= Run.distance %></div>
    <div>Duration:</div>
    <div><%= Run.duration %></div>
    <div>Location:</div>
    <div><%= Run.location %></div>
</section>

<a href="/runs/<%= Run.id %>/edit">Edit</a>

<%- include('../partials/footer') %>