<%- include('../partials/header') %>

<h3>
    <%= run.title %>
</h3>

<!-- <section id="show-page">
    <div></div>
</section> -->

<!-- <ul>
    <% runs.forEach(function(run) { %>
        <li>
            <form action="/runs/<%= run.id %>? method="POST">
                <input type="text" name="fieldName" value="<%= run.fieldName %>">
                <button type="submit">X</button>
            </form>
            <a href="/runs/<%= run.id %>">
                <%= run.name %>
            </a>
        </li>
    <% }); %>
</ul> -->

<%- include('../partials/footer') %>