<%- include('../partials/header') %>

<h2>Music</h2>

<!-- <button type="button" onclick="window.location.href='/music/new'">Add Some Music</button> -->
<button type="button" onclick="window.location.href='/music/new'" class="add-music-button">Add Some Music</button>
<!-- <a href="/music/new">Add Some Music</a> -->


<ul class="music-list">
    <% music.forEach(function(music) { %>
        <li>
            <a href="/music/<%= music._id %>">
                <%= music.song %>
            </a>
            <form action="/music/<%= music.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-button">X</button>
            </form> 
        </li>
        <% }); %>
</ul>


<!-- <ul>
    <% music.forEach(function(music) { %>
        <li>
            <a href="/music/<%= music._id %>">
                <%= music.song %>
            </a>
            <form action="/music/<%= music.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-button">X</button>
            </form> 
        </li>
        <% }); %>
</ul> -->

<%- include('../partials/footer') %>