<%- include('../partials/header') %>

<h3>
    <div> SONG: <%= music.song %>
</h3>

<section id="show-page">
    <h4>Artist: <%= music.artist %></h4>
    <h4>Genre: <%= music.genre %></h4>
</section>

<a href="/music/<%= music.id %>/edit">Edit</a>

<%- include('../partials/footer') %>