<%- include('../partials/header') %>

<h3>
    <%= music.song %>
</h3>

<section id="show-page">
    <div>Song:</div>
    <div><%= music.song %></div>
    <div>Artist:</div>
    <div><%= music.artist %></div>
    <div>Genre:</div>
    <div><%= music.genre %></div>
</section>

<a href="/music/<%= music.id %>/edit">Edit</a>

<%- include('../partials/footer') %>